configuration {
    show-icons:     true;
    icon-theme:     "Papirus";
    font:           "JetBrainsMono Nerd Font 12";
    display-drun:   "Apps";
    display-window: "Windows";
    drun-display-format: "{name}";
}

@theme "~/.config/rofi/theme.rasi"
